.roomInput{
    border: 1px solid rgb(205, 166, 85)
}
.table-responsive {
    margin: 30px ;
}
.table-wrapper {
	background: #fff;
	padding: 20px 25px;
	border-radius: 3px;
	min-width: 1000px;
	box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.table-title {        
	padding-bottom: 15px;
	background: black;
	color: #fff;
	padding: 16px 30px;
	min-width: 100%;
	margin: -20px -25px 10px;
	border-radius: 3px 3px 0 0;
}
.table-title h2 {
	margin: 5px 0 0;
	font-size: 24px;
}
.table-title .btn-group {
	float: right;
}
.table-title .btn {
	color: #fff;
	float: right;
	font-size: 13px;
	border: none;
	min-width: 50px;
	border-radius: 2px;
	border: none;
	outline: none !important;
	margin-left: 10px;
}
.table-title .btn i {
	float: left;
	font-size: 21px;
	margin-right: 5px;
}
.table-title .btn span {
	float: left;
	margin-top: 2px;
}
table.table tr th, table.table tr td {
	border-color: #e9e9e9;
	padding: 12px 15px;
	vertical-align: middle;
}

table.table tr th:last-child {
	width: 100px;
}
table.table-striped tbody tr:nth-of-type(odd) {
	background-color: #fcfcfc;
}
table.table-striped.table-hover tbody tr:hover {
	background: #f5f5f5;
}
table.table th i {
	font-size: 13px;
	margin: 0 5px;
	cursor: pointer;
}	
table.table td:last-child i {
	opacity: 0.9;
	font-size: 22px;
	margin: 0 5px;
}
table.table td a {
	font-weight: bold;
	color: #566787;
	display: inline-block;
	text-decoration: none;
	outline: none !important;

}
table.table td a:hover {
	color: #2196F3;
}
table.table td a.edit {
	color: #FFC107;
}
table.table td a.delete {
	color: #F44336;
}
table.table td i {
	font-size: 19px;
}
table.table .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
.pagination {
	float: right;
	margin: 0 0 5px;
}
.pagination li a {
	border: none;
	font-size: 13px;
	min-width: 30px;
	min-height: 30px;
	color: #999;
	margin: 0 2px;
	line-height: 30px;
	border-radius: 2px !important;
	text-align: center;
	padding: 0 6px;
}
.pagination li a:hover {
	color: #666;
}	
.pagination li.active a, .pagination li.active a.page-link {
	background: #03A9F4;
}
.pagination li.active a:hover {        
	background: #0397d6;
}
.pagination li.disabled i {
	color: #ccc;
}
.pagination li i {
	font-size: 16px;
	padding-top: 6px
}
.hint-text {
	float: left;
	margin-top: 10px;
	font-size: 13px;
}   

/* Modal styles */
.modal .modal-dialog {
	max-width: 400px;
}
.modal .modal-header, .modal .modal-body, .modal .modal-footer {
	padding: 20px 30px;
}
.modal .modal-content {
	border-radius: 3px;
	font-size: 14px;
}
.modal .modal-footer {
	background: #ecf0f1;
	border-radius: 0 0 3px 3px;
}
.modal .modal-title {
	display: inline-block;
}
.modal .form-control {
	border-radius: 2px;
	box-shadow: none;
	border-color: #dddddd;
}
.modal textarea.form-control {
	resize: vertical;
}
.modal .btn {
	border-radius: 2px;
	min-width: 100px;
}	
.modal form label {
	font-weight: normal;
}	

.btn-success{
	background-color: rgb(205, 166, 85);
}
.btn-success:hover{
	background-color: white;
	border: 1px solid rgb(205, 166, 85);
	color: rgb(205, 166, 85);;
}

.employee-post h2{
	padding: 20px 40px;
	background-color: black;
	color: white;
	font-size: 20px;
}
.employee-post form{
	padding: 35px;
}
.btn-confirm{
	margin-left: 510px;
	margin-top: 20px;
}
.btn-confirm .btn-outline-success{
	margin-right: 10px;
}
.ReactModal__Overlay--after-open{
    background-color: rgba(0, 0, 0, 0.75) !important;
}
.ReactModal__Content{
    width: 50%; 
    padding: 15px;  
}
.formInput{
    background-color:white;
    width: 100%;
    padding: 5px;
    border: 1px solid rgb(205, 166, 85)
}
.signin-content{
    padding:150px;
    background-color: lemonchiffon;
    border-radius: 20px;
}

.text{
    width: 40%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 12px 30px;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

.signin-image{
    bottom: 80px;
    margin-left: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position:absolute;
}
.form-title{
    margin-bottom: 33px;
    font-weight: bold;
}

.form-submit{
    display: inline-block;
    background: #6dabe4;
    color:#fff;
    border-bottom: none;
    width: auto;
}
.signup-image-link{
    margin-top: 20px;
    font-size: 20px;
    color: black;
}
.form-submit{
    display: inline-block;
    background: rgb(205, 166, 85);
    color:#fff;
    border: none;
    width: auto;
    padding: 10px;
    margin-top  : 15px;
    
}
.inputForm{
    width: 40%;
    display: block;
    border: none;
    border-bottom: 1px solid #999;
    padding: 12px 30px;
    font-family: "Arial", sans-serif;
    box-sizing: border-box;
    background: none;
}

::placeholder{
    color: black;
}
input, select {
	width: 100%;
	padding: 5px;
	font-size: 18px;
}
.th-bookRoom{
	width: 30%;
}
.btn-confirm .btn-outline-success{
	margin-right: 10px;
}